.wrapper_content{
	background: url('../img/bg.jpg') no-repeat, #E8ECEF;
	background-position: top left;
	background-size: contain;
	@include clearfix;
	
	.content{
		@include width1000;
		padding: 20px;
		background-color: #F4F4F5;
		@include clearfix;
		
		.title{
			margin: 10px 0;
			padding: 3px 10px;
			border-left: 4px solid #C0000A;
		}
		.contacts{
			padding: 30px 0;
			
			h2{
				padding: 10px 0;
				color: #363636;
			}
			p{
				font-size: 15px;
				color: #696969;
			}
			ul{
				padding: 10px 0;
				
				li{
					list-style: none;
					font-size: 15px;
					color: #696969;
				}
			}
		}
		.title-news-block{
			text-align: center;
			padding: 20px;
			margin-bottom: 30px;
			border-bottom: 1px solid #C9C9C7;
			
			h2{
				color: #404040;
			}
			p{
				color: #ACA5AC;
				margin: 10px 0 0 0;
				font-size: 13px;
				text-align: left;
				
				span{
					margin-left: 15px;
				}
			}
			
			@include respond-to(wide-handhelds){
				padding: 10px;
			}	
			@include respond-to(handhelds){
				padding: 10px 5px;
			}
		}
		.text-block{
			border-bottom: 1px solid #C9C9C7;
		
			h1{
				font-size: 35px;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-weight: 900;
				font-style: italic;
				color: #C0000A;
			}
			h2{
				margin-bottom: 20px;
				
				@include respond-to(wide-handhelds){
					font-size: 18px;
				}	
				@include respond-to(handhelds){
					font-size: 18px;
				}
			}
			a{
				color: #C0000A;
				margin-bottom: 10px;
				display: inline-block;
			}
			p{
				font-weight: 600;
			}
			
			.diler{
				list-style: none;
				margin: 20px 0;

				li{
					font-weight: normal;
					color: #fff;
					background-color: #363636;
					padding: 20px;
					margin-bottom: 10px;
					
					span{
						font-weight: 600;
						color: #B5B5B5;
					}
					
					@include respond-to(wide-handhelds){
						padding: 10px;
					}	
					@include respond-to(handhelds){
						padding: 10px;
					}
				}
			}
		}

		@include respond-to(tablets){
			width: 100%;
			padding: 10px;
		}
		@include respond-to(small-tablets){
			width: 100%;
			padding: 10px;
		}
		@include respond-to(wide-handhelds){
			width: 100%;
			padding: 10px;
		}
		@include respond-to(handhelds){
			width: 100%;
			padding: 5px;
		}
	}	
}



/*button top*/
#top{
	position: fixed;
	width: 0;
	height: 0;
	bottom: 80px;
	right: 40px;
	font-weight: 600;
	color: #4F4F4F;
	text-align: center;
	opacity: 0.4;
	z-index: 99;
	cursor: pointer;
	padding: 30px;
	display: none;
	background:#000;
	border-radius: 50%;
}

#top i{
	position: absolute;
	top: 9px;
	left: 13px;
	font-size: 35px;
	color: red;
}
#top:hover{
	opacity: 0.4;
	transition: 0.5s;
}


@-webkit-keyframes pulse1{
	0%{
		-webkit-transform: scale(.6);
		opacity: 0;
	}
	50%{
		-webkit-transform: scale(.9);
		opacity: 0;
	}
	60%{
		-webkit-transform: scale(1.1);opacity: .6;
	}
	70%{
		-webkit-transform: scale(1.3);opacity: .85;
	}
	80%{
		-webkit-transform: scale(1.4);opacity: .6;
	}
	100%{
		-webkit-transform: scale(1.6);opacity: 0;
	}
}

#top:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3px;
    left: -3px;
    opacity: 0;
    border: 3px solid rgba(255,0,0,0.3);
    -webkit-animation: pulse1 2s linear infinite;
    -moz-animation: pulse1 2s linear infinite;
    animation: pulse1 2s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(255,0,0,0.41);
    -moz-box-shadow: inset 0px 0px 10px 5px rgba(255,0,0,0.41);
    box-shadow: inset 0px 0px 10px 5px rgba(255,0,0,0.41);
}