.wrapper-header{
	padding: 5px;
	background: #1E1E1E;
	@include clearfix;
	
	.header{
		@include width1000;
		@include clearfix;
		padding: 10px 0;
		
		.logo{
			width: 135px;
			padding: 5px 0;
			float: left;
			
			img{
				width: 100%;
			}
		}
		
		@include respond-to(tablets){
			width: 100%;
		}		
		@include respond-to(small-tablets){
			width: 100%;
		}		
		@include respond-to(wide-handhelds){
			width: 100%;
		}		
		@include respond-to(handhelds){
			width: 100%;
		}
	}
}