.wrapper{
	position: relative;
	height:100vh;
	background-color: #04102C;
	overflow: hidden;

	.container{
		width:58%;
		height:200vh;
		position: relative;
		top: -50vh;
		float: left;
		border-radius: 0 65% 65% 0;
		overflow: hidden;
		
		.content{
			width: 100%;
			height: 100vh;
			top: 50vh;
			position: relative;
			background: linear-gradient(0deg, rgba(91, 80, 185, 0.9) 15%, rgba(61, 170, 223, 0.9) 100%), url('../img/bg.png') no-repeat;
			background-size: cover;
			background-position: 100% 25%;
			
			.left{
				padding: 20px;
				position: absolute;
				top: 50%;
				left: 40%;
				margin-right: -50%;
				transform: translate(-50%, -50%);
				text-align: center;
				
				@import "text-default";
				font-family: 'HelveticaNeueCyr';
				
				.title{
					margin-bottom: 50px;
					
					img{
						margin: 0;
						padding: 0;
						display: inline-block;
						vertical-align: middle;
						width: 50px;
						height: 50px;		
					}	
					
					h2{
						font-size: 30px;
						font-weight: normal;
						color: #ABC0E5;
						display: inline-block;
						vertical-align: middle;

						@include respond-to(small-tablets){
							font-size: 28px;
						}
					}
				}
				p{
					font-size: 22px;
					color: #ECEFF8;

					@include respond-to(small-tablets){
						font-size: 18px;
					}
					@include respond-to(wide-handhelds){
						font-size: 18px;
					}
					@include respond-to(handhelds){
						font-size: 18px;
					}
				}
				.buttonBlock{
					padding: 30px 0;
					
					a{
						min-width: 90px;
						display: inline-block;
						padding: 16px 25px;
						text-decoration: none;
						font-size: 14px;
						text-transform: uppercase;
						color: #fff;
						background-color: #7298D7;
						background: rgba(255,255,255,0.2);
						border-radius: 5px;
						font-weight: 600;
						box-shadow: 0px -2px 0px -2px rgba(0, 0, 0, 0.1), 0px 2px 5px 0px rgba(0, 0, 0, 0.1), 2px -2px 10px 0px rgba(0, 0, 0, 0.09);
						
						&:hover{
							background: rgba(255,255,255,0.7);
							color: #4E87D2;
							transition: 0.3s;
						}
						
						@include respond-to(small-tablets){
							min-width: auto;
							display: block;
						}
						@include respond-to(handhelds){
							min-width: auto;
							display: block;
						}
					}
					p{
						display: inline-block;
						margin: 10px;
					}
				}
				
				@include respond-to(display){
					left: 50%;
				}
				@include respond-to(tablets){
					left: 50%;
				}
				@include respond-to(small-tablets){
					left: 50%;
				}
				@include respond-to(wide-handhelds){
					position: relative;
					top: auto;
					left: auto;
					margin: 0 auto;
					transform: none;
					width:75%;
				}
				@include respond-to(handhelds){
					position: relative;
					top: auto;
					left: auto;
					margin: 0 auto;
					transform: none;
				}
			}
			
			@include respond-to(small-tablets){
				top: 0;
			}
			@include respond-to(wide-handhelds){
				width:100%;
				height:auto;
				top: 0;
			}
			@include respond-to(handhelds){
				width:100%;
				height:auto;
				top: 0;
			}
		}

		@include respond-to(display){
			width:55%;
		}
		@include respond-to(tablets){
			width:50%;
		}
		@include respond-to(small-tablets){
			width:50%;
			height:100vh;
			top: 0;
			border-radius: 0;
		}
		@include respond-to(wide-handhelds){
			width:100%;
			height:auto;
			top: 0;
			border-radius: 0;
			float: none;
		}
		@include respond-to(handhelds){
			width:100%;
			height:auto;
			top: 0;
			border-radius: 0;
			float: none;
		}
	}

	.forma{
		width: 42%;
		height:100vh;
		float: right;
		position: relative;
		
		.right{
			padding: 20px;
			position: absolute;
			top: 50%;
			left: 45%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
						
			@import "text-default";
			font-family: 'HelveticaNeueCyr';
			
			h1{
				font-size: 38px;
				color: #fff;
				
				@include respond-to(small-tablets){
					font-size: 32px;
				}
			}
			p{
				font-size: 20px;
				color: #606C88;
				
				a{
					color: #017FCA;
					font-size: 20px;
					
					&:hover{
						color: #606C88;
						text-decoration: none;
					}
				}
				
				@include respond-to(small-tablets){
					font-size: 18px;
				}
				@include respond-to(wide-handhelds){
					font-size: 18px;
				}
				@include respond-to(handhelds){
					font-size: 18px;
				}
			}
			.title{
				color: #fff;
				font-size: 40px;
				
				@include respond-to(small-tablets){
					font-size: 32px;
				}
			}
			
			form{
				ul{
					list-style: none;
					margin: 0;
					padding: 10px 0;
					
					li{
						position: relative;
						
						.errBulb{
							padding: 15px;
							border-radius: 6px;
							background-color: #fff;
							position: absolute;
							right: -185px;
							top: 8px;
							width: 140px;
							font-size: 16px;
							line-height: 130%;
							opacity: 0.9;
									display: none;
							
							.corner{
								width: 0;
								height: 0;
								border-top: 12px solid transparent;
								border-right: 14px solid #fff;
								border-bottom: 12px solid transparent;
								left: -12px;
								top: 6px;
								position: absolute;
							}
						}
						@media (min-width: 1320px) and (max-width: 1540px){
							.errBulb{
								width: 100px;
								padding: 10px;
								right: -135px;
							}
						}
						@media (min-width: 1200px) and (max-width: 1319px){
							.errBulb{
								width: 80px;
								padding: 5px;
								right: -105px;
								font-size: 14px;
							}
						}

						input{
							width: 100%;
							padding: 30px 0;
							border: none;
							font-size: 20px;
							background-color: transparent;
							border-bottom: 1px solid #222D49;
							color: #fff;
							outline:none;
							
							@include respond-to(small-tablets){
								padding: 20px 0;
							}
							@include respond-to(wide-handhelds){
								padding: 20px 0;
							}
							@include respond-to(handhelds){
								padding: 20px 0;
							}
						}
						input::-moz-placeholder{
							color: #606C88;
						}
						input::-webkit-input-placeholder{
							color: #606C88;
						}
						input:-moz-placeholder{
							color: #606C88;
						}
						input:-ms-input-placeholder{
							color: #606C88;
						}
						
						input:focus::-webkit-input-placeholder{
							color: transparent;
						}
						input:focus::-moz-placeholder{
							color: transparent;
						}
						input:focus:-moz-placeholder{
							color: transparent;
						}
						input:focus:-ms-input-placeholder{
							color: transparent;
						}
						input:focus{
							border-bottom: 1px solid #0192C5;
						}

						
						.anim{
							animation:
								brdt  1s ease-in infinite alternate 0.5s,
						}

						@keyframes brdt{
							from{ border-bottom: 1px solid red; }
							to{ border-bottom: 1px solid orange; }
						}
					}
				}
				button{
					margin: 30px 0 40px 0;
					padding: 20px 0;
					width: 100%;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 600;
					color: #fff;
					border: none;
					border-radius: 5px;
					background: #006BD9;
					background: linear-gradient(to left, #00A6DC, #006BD9);
					cursor: pointer;
					position: relative;
					z-index: 1;
					
					i{
						margin: 0 0 0 5px;
					}
					
					&:hover{
						color: #CFCFCF;
					}

					@include respond-to(small-tablets){
						margin: 20px 0 30px 0;
					}
					@include respond-to(wide-handhelds){
						margin: 20px 0 30px 0;
					}
					@include respond-to(handhelds){
						margin: 20px 0 30px 0;
					}
				}
				button:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #006BD9;
					background: linear-gradient(to left, #006BD9, #006BD9);
					opacity: 0;
					transition: 0.5s;
					border-radius: 5px;
					z-index: -1;
				}
				button:hover:before{
					opacity: 1;
				}
				button:hover i{
					margin: 0 0 0 15px;
					transition: 0.5s;
				}
			}
			
			@include respond-to(display){
				left: 50%;
			}
			@include respond-to(tablets){
				left: 50%;
			}
			@include respond-to(small-tablets){
				left: 50%;
			}
			@include respond-to(wide-handhelds){
				position: relative;
				top: auto;
				left: auto;
				margin: 0 auto;
				transform: none;
			}
			@include respond-to(handhelds){
				position: relative;
				top: auto;
				left: auto;
				margin: 0 auto;
				transform: none;
			}
		}
		
		
		.forgot{
			padding: 20px;
			position: absolute;
			top: 50%;
			left: 45%;
			margin-right: -50%;
			transform: translate(-50%, -50%);

			@import "text-default";
			font-family: 'HelveticaNeueCyr';
			
			.back{
				color: #5D6985;
				font-size: 25px;
				margin-bottom: 80px;
				display: inline-block;
				
				@include respond-to(wide-handhelds){
					margin-bottom: 40px;
				}
				@include respond-to(handhelds){
					margin-bottom: 40px;
				}
			}
			
			h1{
				font-size: 38px;
				color: #fff;
				
				@include respond-to(small-tablets){
					font-size: 32px;
				}
			}
			p{
				font-size: 20px;
				color: #606C88;
				
				a{
					color: #017FCA;
					font-size: 20px;
					
					&:hover{
						color: #606C88;
						text-decoration: none;
					}
				}
				
				@include respond-to(small-tablets){
					font-size: 18px;
				}
				@include respond-to(wide-handhelds){
					font-size: 18px;
				}
				@include respond-to(handhelds){
					font-size: 18px;
				}
			}
			.title{
				color: #fff;
				font-size: 40px;
				
				@include respond-to(small-tablets){
					font-size: 32px;
				}
			}
			
			form{
				ul{
					list-style: none;
					margin: 0;
					padding: 10px 0;
					
					li{
						position: relative;

						input{
							width: 100%;
							padding: 30px 0;
							border: none;
							font-size: 20px;
							background-color: transparent;
							border-bottom: 1px solid #222D49;
							color: #fff;
							outline:none;
							
							@include respond-to(small-tablets){
								padding: 20px 0;
							}
							@include respond-to(wide-handhelds){
								padding: 20px 0;
							}
							@include respond-to(handhelds){
								padding: 20px 0;
							}
						}
						input::-moz-placeholder{
							color: #606C88;
						}
						input::-webkit-input-placeholder{
							color: #606C88;
						}
						input:-moz-placeholder{
							color: #606C88;
						}
						input:-ms-input-placeholder{
							color: #606C88;
						}
						
						input:focus::-webkit-input-placeholder{
							color: transparent;
						}
						input:focus::-moz-placeholder{
							color: transparent;
						}
						input:focus:-moz-placeholder{
							color: transparent;
						}
						input:focus:-ms-input-placeholder{
							color: transparent;
						}
						input:focus{
							border-bottom: 1px solid #0192C5;
						}

						.anim{
							animation:
								brdt  1.5s ease-in infinite alternate 0.5s,
						}

						@keyframes brdt{
							from{ border-bottom: 1px solid red; }
							to{ border-bottom: 1px solid orange; }
						}
					}
				}
				button{
					margin: 30px 0 40px 0;
					padding: 20px 0;
					width: 100%;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 600;
					color: #fff;
					border: none;
					border-radius: 5px;
					background: #006BD9;
					background: linear-gradient(to left, #00A6DC, #006BD9);
					cursor: pointer;
					position: relative;
					z-index: 1;
					
					i{
						margin: 0 0 0 5px;
					}
					
					&:hover{
						color: #CFCFCF;
					}

					@include respond-to(small-tablets){
						margin: 20px 0 30px 0;
					}
					@include respond-to(wide-handhelds){
						margin: 20px 0 30px 0;
					}
					@include respond-to(handhelds){
						margin: 20px 0 30px 0;
					}
				}
				button:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #006BD9;
					background: linear-gradient(to left, #006BD9, #006BD9);
					opacity: 0;
					transition: 0.5s;
					border-radius: 5px;
					z-index: -1;
				}
				button:hover:before{
					opacity: 1;
				}
				button:hover i{
					margin: 0 0 0 15px;
				}
			}
			.message{
				display: none;
			}
			
			@include respond-to(display){
				left: 50%;
			}
			@include respond-to(tablets){
				left: 50%;
			}
			@include respond-to(small-tablets){
				left: 50%;
			}
			@include respond-to(wide-handhelds){
				position: relative;
				top: auto;
				left: auto;
				margin: 0 auto;
				transform: none;
			}
			@include respond-to(handhelds){
				position: relative;
				top: auto;
				left: auto;
				margin: 0 auto;
				transform: none;
			}
		}
		
		@include respond-to(display){
			width:45%;
		}
		@include respond-to(tablets){
			width:50%;
		}
		@include respond-to(small-tablets){
			width:50%;
		}
		@include respond-to(wide-handhelds){
			width:75%;
			height:auto;
			float: none;
			margin: 0 auto;
		}
		@include respond-to(handhelds){
			width:100%;
			height:auto;
			float: none;
		}
	}
}