.footer{
	background: url('../images/baner/bg.jpg') no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	min-height: 225px;
	
	@include respond-to(small-tablets){
		min-height: 100px;
	}
	@include respond-to(wide-handhelds){
		min-height: 100px;
	}
	@include respond-to(handhelds){
		min-height: 100px;
	}
}