#add-input{
   margin-left: 1000px;
   margin-top: -25px;
   font:bold 15px sans-serif;
   cursor: pointer;
   color: #34659D;
   display: inline-block;
   position: absolute;
   			/*border: 1px solid red;*/
}

.addimage{
   height: 30px;
   width: 50px;
   
			border: 1px solid green;
}

.addimage a{
   margin-left: 15px;
   font:bold 13px sans-serif;
   cursor: pointer;
   text-decoration: none;
   color: #D90094;
}
.addimage a:hover{
   text-decoration: underline;
}
.delete-input{
   margin-top: -50px;
   margin-left: 150px;
   height: 30px;
   width: 150px;
   cursor:pointer;
   font: 13px sans-serif;
}
.delete-input:hover{
   font:bold 13px sans-serif;
}
#tr{
   margin-top: 0px;
}
#hidoff{
   cursor: cell;
}
#hid1,#hid2,#hid3,#hid4,#hid5,#hid6,#hid7,#hid8,#hid9,#hid10,#hid11,#hid12,#hid13,#hid14,#hid15,
#hid16,#hid17,#hid18,#hid19,#hid20,#hid21,#hid22,#hid23,#hid24,#hid25,#hid26,#hid27,#hid28,#hid29,#hid30,
#hid31,#hid32,#hid33,#hid34,#hid35,#hid36,#hid37,#hid38,#hid39,#hid40,#hid41,#hid42,#hid43,#hid44,#hid45,
#hid46,#hid47,#hid48,#hid49,#hid50,#hid51,#hid52,#hid53,#hid54,#hid55,#hid56,#hid57,#hid58,#hid59,#hid60,
#hid61,#hid62,#hid63,#hid64,#hid65,#hid66,#hid67,#hid68,#hid69,#hid70,#hid71,#hid72,#hid73,#hid74,#hid75,
#hid76,#hid77,#hid78,#hid79,#hid80,#hid81,#hid82,#hid83,#hid84,#hid85,#hid86,#hid87,#hid88,#hid89,#hid90,
#hid91,#hid92,#hid93,#hid94,#hid95,#hid96,#hid97,#hid98,#hid99,#hid100,
#hid101,#hid102,#hid103,#hid104,#hid105,#hid106,#hid107,#hid108,#hid109,#hid110,#hid111,#hid112,#hid113,#hid114,#hid115,
#hid116,#hid117,#hid118,#hid119,#hid120,#hid121,#hid122,#hid123,#hid124,#hid125,#hid126,#hid127,#hid128,#hid129,#hid130,
#hid131,#hid132,#hid133,#hid134,#hid135,#hid136,#hid137,#hid138,#hid139,#hid140,#hid141,#hid142,#hid143,#hid144,#hid145,
#hid146,#hid147,#hid148,#hid149,#hid150,#hid151,#hid152,#hid153,#hid154,#hid155,#hid156,#hid157,#hid158,#hid159,#hid160,
#hid161,#hid162,#hid163,#hid164,#hid165,#hid166,#hid167,#hid168,#hid169,#hid170,#hid171,#hid172,#hid173,#hid174,#hid175,
#hid176,#hid177,#hid178,#hid179,#hid180,#hid181,#hid182,#hid183,#hid184,#hid185,#hid186,#hid187,#hid188,#hid189,#hid190,
#hid191,#hid192,#hid193,#hid194,#hid195,#hid196,#hid197,#hid198,#hid199,#hid200{
   cursor: not-allowed;
}