#left{
   width: 450px;
   height: 580px;
   float: left;
		/*border: 1px solid red;*/
}
#left form{
   width: 450px;
   height: 580px;
   margin-top:10px;
		/*border: 1px solid blue;*/
}
#right{
   padding-left: 20px;
   margin-left: 20px;
   width: 855px;
   height: 570px;
		/*border: 1px solid green;*/
}
#left p{
			/*border: 1px solid blue;*/
   margin-left: 5px;
}
#mesto{
   margin-left: 50px;
}
#nom{
   margin-left: 138px;
}
#nam{
   margin-left: 77px;
}
#oboz{
   margin-left: 88px;
}
#int{
   margin-left: 114px;
}
#sr{
   margin-left: 161px;
}
#inv{
   margin-left: 106px;
}
#otd{
   margin-left: 137px;
}
#sr{
   margin-left: 161px;
}
#nott{
   margin-left: 93px;
}
#nal{
   margin-left: 120px;
}
#dc{
   margin-left: 76px;
}
#files{
   margin-left: 112px;
}
#delt{
   margin-top: -45px;
   margin-left: 777px;
   position: absolute;
}
#kn_add{
   margin-top: 75px;
}


	/*отзывы*/
#send-review1,#send-review2,#send-review3,#send-review4,#send-review5,#send-review6,#send-review7,#send-review8,#send-review9,#send-review10,#send-review11,#send-review12,#send-review13,#send-review14,#send-review15,
#send-review16,#send-review17,#send-review18,#send-review19,#send-review20,#send-review21,#send-review22,#send-review23,#send-review24,#send-review25,#send-review26,#send-review27,#send-review28,#send-review29,#send-review30,
#send-review31,#send-review32,#send-review33,#send-review34,#send-review35,#send-review36,#send-review37,#send-review38,#send-review39,#send-review40,#send-review41,#send-review42,#send-review43,#send-review44,#send-review45,
#send-review46,#send-review47,#send-review48,#send-review49,#send-review50,#send-review51,#send-review52,#send-review53,#send-review54,#send-review55,#send-review56,#send-review57,#send-review58,#send-review59,#send-review60,
#send-review61,#send-review62,#send-review63,#send-review64,#send-review65,#send-review66,#send-review67,#send-review68,#send-review69,#send-review70,#send-review71,#send-review72,#send-review73,#send-review74,#send-review75,
#send-review76,#send-review77,#send-review78,#send-review79,#send-review80,#send-review81,#send-review82,#send-review83,#send-review84,#send-review85,#send-review86,#send-review87,#send-review88,#send-review89,#send-review90,
#send-review91,#send-review92,#send-review93,#send-review94,#send-review95,#send-review96,#send-review97,#send-review98,#send-review99,#send-review100,
#send-review101,#send-review102,#send-review103,#send-review104,#send-review105,#send-review106,#send-review107,#send-review108,#send-review109,#send-review110,#send-review111,#send-review112,#send-review113,#send-review114,#send-review115,
#send-review116,#send-review117,#send-review118,#send-review119,#send-review120,#send-review121,#send-review122,#send-review123,#send-review124,#send-review125,#send-review126,#send-review127,#send-review128,#send-review129,#send-review130,
#send-review131,#send-review132,#send-review133,#send-review134,#send-review135,#send-review136,#send-review137,#send-review138,#send-review139,#send-review140,#send-review141,#send-review142,#send-review143,#send-review144,#send-review145,
#send-review146,#send-review147,#send-review148,#send-review149,#send-review150,#send-review151,#send-review152,#send-review153,#send-review154,#send-review155,#send-review156,#send-review157,#send-review158,#send-review159,#send-review160,
#send-review161,#send-review162,#send-review163,#send-review164,#send-review165,#send-review166,#send-review167,#send-review168,#send-review169,#send-review170,#send-review171,#send-review172,#send-review173,#send-review174,#send-review175,
#send-review176,#send-review177,#send-review178,#send-review179,#send-review180,#send-review181,#send-review182,#send-review183,#send-review184,#send-review185,#send-review186,#send-review187,#send-review188,#send-review189,#send-review190,
#send-review191,#send-review192,#send-review193,#send-review194,#send-review195,#send-review196,#send-review197,#send-review198,#send-review199,#send-review200{
   display: none;
   height:auto;
   width: 420px;
   position: absolute;
   background-color: #F5F5F5;
   margin-top: -380px;
   	   border-radius: 5px 5px 5px 5px;
	   -wedkit-border-radius: 5px 5px 5px 5px;
	   -moz-border-radius: 5px 5px 5px 5px;
		/*border: 1px solid red;*/
	z-index: 100;
}
.title-review{
   font: 14px sans-serif;
   margin-left: 50px;
   color: red;
   width: 150px;
   float: left;
			/*border: 1px solid blue;*/
}
.ulli{
   margin-top: 40px;
}
.ulli li{
   margin-left: -20px;
   height: 35px;
   list-style-type: none;
			border: 1px solid #F5F5F5;
}
.ulli input{
   margin-top: -8px;
   margin-right: 15px;
   height: 20px;
   color: red;
			border: 1px solid yellow;
}
.label-comment{
   margin-top: -8px;
   position: absolute;
   font: 14px sans-serif;
   margin-left: -220px;
			/*border: 1px solid yellow;*/
}
.closs{
			/*border: 1px solid red;*/
   float: right;
   margin-top: -10px;
   margin-right: -10px;
   cursor: pointer;
}
#shadw{
			/*border: 1px solid yellow;*/
	margin: 0 auto;
	opacity: 0.6;
	display: none;
   width: 98%;
   height: 98%;
   position: absolute;
   z-index: 50;
   background: url(/oborudovanie/www/images/fon.jpg);
}