.cell-block,.cell-block-katalog{
	@include clearfix;
	position: relative;
}

.cell-right{
	max-width: 1550px;
	float: right;
	margin-bottom: 50px;
	@include clearfix;
	font-size: 0;
	
	//LEFT side
	.left-side-cell{
		width: 40%;
		display: inline-block;
		vertical-align: middle;

		.cell-text-block{
			@import "text-default";
			@include clearfix;
			padding: 0 40px 0 0;
			
			p{
				line-height: 160%;
				color: #000;
				font-size: 16px;
				margin-bottom: 10px;
				
 				@include respond-to(display){
					line-height: 130%;
				}
				@include respond-to(tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(small-tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(wide-handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
			ul{
				li{
					img{
						display: inline-block;
						vertical-align: middle;
						width: 12%;
						margin: 0;
						padding: 0;
						
 						@include respond-to(display){
							width: 10%;
						}
						@include respond-to(tablets){
							width: 8%;
						}
						@include respond-to(small-tablets){
							width: 5%;
						}
						@include respond-to(wide-handhelds){
							width: 5%;
						}
						@include respond-to(handhelds){
							width: 8%;
						}
					}
					p{
						display: inline-block;
						vertical-align: middle;
						width: calc(85% - 40px);
						margin: 0 20px;
						
 						@include respond-to(display){
							width: calc(90% - 40px);
						}
						@include respond-to(tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(small-tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(wide-handhelds){
							width: calc(95% - 40px);
						}
						@include respond-to(handhelds){
							width: calc(92% - 40px);
							line-height: 100%;
						}
					}
				}
			}
			
			@include respond-to(display){
				padding: 0 20px 0 0;
			}
			@include respond-to(tablets){
				padding: 0 10px 0 0;
			}
			@include respond-to(small-tablets){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(wide-handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
		}

		img{
			width: 100%;
			padding: 0;
			margin: 0;
		}

		@include respond-to(small-tablets){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(wide-handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
	}
	
	//RIGHT side
	.right-side-cell{
		width: 60%;
		display: inline-block;
		vertical-align: middle;

		.cell-text-block{
			@import "text-default";
			@include clearfix;
			padding: 0 0 0 40px;
			
			p{
				line-height: 160%;
				color: #000;
				font-size: 16px;
				margin-bottom: 10px;
				
				@include respond-to(display){
					line-height: 130%;
				}
				@include respond-to(tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(small-tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(wide-handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
			ul{
				li{
					img{
						display: inline-block;
						vertical-align: middle;
						width: 12%;
						margin: 0;
						padding: 0;
						
 						@include respond-to(display){
							width: 10%;
						}
						@include respond-to(tablets){
							width: 8%;
						}
						@include respond-to(small-tablets){
							width: 5%;
						}
						@include respond-to(wide-handhelds){
							width: 5%;
						}
						@include respond-to(handhelds){
							width: 8%;
						}
					}
					p{
						display: inline-block;
						vertical-align: middle;
						width: calc(85% - 40px);
						margin: 0 20px;
						
 						@include respond-to(display){
							width: calc(90% - 40px);
						}
						@include respond-to(tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(small-tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(wide-handhelds){
							width: calc(95% - 40px);
						}
						@include respond-to(handhelds){
							width: calc(92% - 40px);
							line-height: 100%;
						}
					}
				}
			}
			
			@include respond-to(display){
				padding: 0 0 0 20px;
			}
			@include respond-to(tablets){
				padding: 0 0 0 10px;
			}
			@include respond-to(small-tablets){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(wide-handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
		}

		img{
			width: 100%;
			padding: 0;
			margin: 0;
		}
		
 		@include respond-to(small-tablets){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(wide-handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
	}
	
	@include respond-to(small-tablets){
		margin-bottom: 20px;
	}
	@include respond-to(wide-handhelds){
		margin-bottom: 20px;
	}
	@include respond-to(handhelds){
		margin-bottom: 20px;
	}
}

@media (max-width: 1550px){
	.cell-right{
		width: 100%;
		float: none;
	}
}


.cell-left{
	@include clearfix;
	max-width: 1550px;
	font-size: 0;
	margin-bottom: 50px;
	
	//LEFT side
	.left-side-cell{
		display: inline-block;
		vertical-align: middle;
		width: 60%;
		@include clearfix;

		.cell-text-block{
			@import "text-default";
			
			padding: 0 40px 0 0;
			
			p{
				line-height: 160%;
				color: #000;
				font-size: 16px;
				margin-bottom: 10px;
				
				@include respond-to(display){
					line-height: 130%;
				}
				@include respond-to(tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(small-tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(wide-handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
			ul{
				li{
					img{
						display: inline-block;
						vertical-align: middle;
						width: 12%;
						margin: 0;
						padding: 0;
						
						@include respond-to(display){
							width: 10%;
						}
						@include respond-to(tablets){
							width: 8%;
						}
						@include respond-to(small-tablets){
							width: 5%;
						}
						@include respond-to(wide-handhelds){
							width: 5%;
						}
						@include respond-to(handhelds){
							width: 8%;
						}
					}
					p{
						display: inline-block;
						vertical-align: middle;
						width: calc(85% - 40px);
						margin: 0 20px;
						
						@include respond-to(display){
							width: calc(90% - 40px);
						}
						@include respond-to(tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(small-tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(wide-handhelds){
							width: calc(95% - 40px);
						}
						@include respond-to(handhelds){
							width: calc(92% - 40px);
							line-height: 100%;
						}
					}
				}
			}
			
			@include respond-to(display){
				padding: 0 20px 0 0;
			}
			@include respond-to(tablets){
				padding: 0 10px 0 0;
			}
			@include respond-to(small-tablets){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(wide-handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
		}

		img{
			width: 100%;
			padding: 0;
			margin: 0;
		}

		@include respond-to(small-tablets){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(wide-handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
	}
	
	//RIGHT side
	.right-side-cell{
		width: 40%;
		display: inline-block;
		vertical-align: middle;

		.cell-text-block{
			@import "text-default";
			
			padding: 0 0 0 40px;
			
			p{
				line-height: 160%;
				color: #000;
				font-size: 16px;
				margin-bottom: 10px;
				
				@include respond-to(display){
					line-height: 130%;
				}
				@include respond-to(tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(small-tablets){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(wide-handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				@include respond-to(handhelds){
					line-height: 110%;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
			ul{
				li{
					img{
						display: inline-block;
						vertical-align: middle;
						width: 12%;
						margin: 0;
						padding: 0;
						
						@include respond-to(display){
							width: 10%;
						}
						@include respond-to(tablets){
							width: 8%;
						}
						@include respond-to(small-tablets){
							width: 5%;
						}
						@include respond-to(wide-handhelds){
							width: 5%;
						}
						@include respond-to(handhelds){
							width: 8%;
						}
					}
					p{
						display: inline-block;
						vertical-align: middle;
						width: calc(85% - 40px);
						margin: 0 20px;
						
						@include respond-to(display){
							width: calc(90% - 40px);
						}
						@include respond-to(tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(small-tablets){
							width: calc(92% - 40px);
						}
						@include respond-to(wide-handhelds){
							width: calc(95% - 40px);
						}
						@include respond-to(handhelds){
							width: calc(92% - 40px);
							line-height: 100%;
						}
					}
				}
			}

			@include respond-to(display){
				padding: 0 0 0 20px;
			}
			@include respond-to(tablets){
				padding: 0 0 0 10px;
			}
			@include respond-to(small-tablets){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(wide-handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
			@include respond-to(handhelds){
				padding: 10px 0;
				width: 100%;
				position: relative;
				box-sizing: border-box;
			}
		}

		img{
			width: 100%;
			padding: 0;
			margin: 0;
		}
		
		@include respond-to(small-tablets){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(wide-handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
		@include respond-to(handhelds){
			width: 100%;
			float: none;
			padding: 5px;
			box-sizing: border-box;
		}
	}

	@include respond-to(small-tablets){
		margin-bottom: 20px;
	}
	@include respond-to(wide-handhelds){
		margin-bottom: 20px;
	}
	@include respond-to(handhelds){
		margin-bottom: 20px;
	}
}