.path{
	padding: 25px 5px;
	@include width1000;

	ul{
		li{
			display: inline-block;
			padding: 5px 3px;
			color: #000;
			
			a{
				color: #3E3E3E;
				text-decoration: none;
				
				&:hover{
					color: #696969;
				}
			}
		}
		li:after{
			content: '►';
			margin-left: 10px;
			color: #3E3E3E;
		}
		li:last-child:after{
			content: '';
		}
		
		.place{
			color: #000;
			font-weight: 600;
		}
	}
}