.bottom-content-cart-block{
	@include width1000;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #aaa;

	.card-grid-bottom{
		font-size: 0;
		margin: 15px 0;
		padding: 0;
		
		li{
			display: inline-block;
			position: relative;
			margin: 10px;
			z-index: 10;
			vertical-align:top;
			
			a{
				display: block;
				
				.shad{
					position: relative;
					padding-bottom: 70%;
					overflow: hidden;
					z-index: 10;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					
					img{
						position: absolute;
						width:100%;
						max-height: 100%;
						margin: auto;
					}

					@include respond-to(wide-handhelds){
						box-shadow: none;
					}
					@include respond-to(handhelds){
						box-shadow: none;
					}
				}
				h3{
					color: #DE511C;
					text-align: center;
					margin: 0;
					padding: 8px 0 0 0;
					line-height: 100%;
					font-size: 12px;
					word-wrap: break-word;
				}
			}

			@include respond-to(display-big){
				width: calc(16.66% - 20px);
			}
			@include respond-to(display){
				width: calc(16.66% - 20px);
			}
			@include respond-to(tablets){
				width: calc(16.66% - 20px);
			}
			@include respond-to(small-tablets ){
				width: calc(16.66% - 20px);
			}
			
			
			@include respond-to(wide-handhelds){
				width: calc(33.3% - 20px);
			}
			@include respond-to(handhelds){
				width: calc(50% - 20px);
			}				
		}
	}
	.card-grid-bottom:after{
		content: '';
		display: table;
		clear: both;
	}
	
	@include respond-to(wide-handhelds){
		padding: 20px 10px;
		width: 100%;
	}
	@include respond-to(handhelds){
		padding: 20px 10px;
		width: 100%;
	}
}