div, ul, li, p, a, body{
    margin: 0;
    padding: 0;
	list-style: none;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
	font-family: sans-serif;
	font-size: 13px;
}

.wrapper{
	max-width: 1360px;
	margin: 0 auto;
}

.content_block h1,.content_block h2,.content_block p,.block_products .text h2,.block_products .text p,.advance h1,.header h2,.header h1,.header > a{
	-webkit-transform: scale(0.85, 1.0);
	-moz-transform: scale(0.85, 1.0);
	-ms-transform: scale(0.85, 1.0);
	-o-transform: scale(0.85, 1.0);
	transform: scale(0.85,1.0);
}
.wrp{
	position: relative;
}
.bg{
	position: absolute;
	width: 100%;
	height: 120%;
	top: -40px;
	left: 0;
	z-index: -1;
	background: url(../img/page_par.jpg) no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	
}
.header{
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
}
.header_top{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
	font: 13px sans-serif;
	color: #fff;
}
.wrap_head{
	width: 85%;
	margin: 0 auto;
}
.logotip{
	position:relative;
	width: 100%;
}
.logo{
	width: 150px;
	height: 45px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100% 100%;
}
.user ul{
	text-align: center;
}
.user ul li{
	display: inline-block;
	padding: 15px;
	overflow: hidden;
}
.user ul li img{
	width: 10px;
	height: 10px;
	margin-top: 3px;
	margin-right: 5px;
}
.user ul li:nth-child(1) img{
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}
.user ul li:nth-child(1) p{
	float: left;
	color: #FFA500;
}
.user ul li:nth-child(2) a:nth-child(1){
	padding: 3px;
	border-radius: 50%;
	-wedkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	border: 2px solid #000;
}
.user ul li:nth-child(2) a:nth-child(1):hover{
	border: 2px solid #FFA500;
}
.user ul li a{
	color: #363636;
}
.user ul li a:hover{
	color: #FFA500;
}
.user a,.top_menu a{
	text-decoration: none;
}
.top_menu{
	font: 12px sans-serif;
	font-weight: 600;
}
.top_menu ul{
	float: left;
}
.top_menu ul li{
	padding: 15px;
	display: inline-block;
}
.top_menu ul li a{
	color: #000;
}
.top_menu ul li a:hover{
	color: #FFA500;
}
.cart{
	float: right;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	display: block;
	background: url(../img/cart.png) no-repeat;
	background-size: 100% 100%;
}
.cart:hover{
	float: right;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	display: block;
	background: url(../img/cart_hov.png) no-repeat;
	background-size: 100% 100%;
}
.header > a{
	width: 150px;
	margin: 50px auto;
	padding: 18px 35px;
	display: block;
	background-color: #E05A0A;
	border: none;
	font-size: 25px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.header h1{
	font-size: 80px;
	font-weight: 500;
	color: #FFD339;
}
.header h2{
	font-size: 36px;
	font-weight: 500;
}
.header h3{
	margin-top: 40px;
	font-size: 25px;
}
.header h4{
	font-size: 18px;
	font-weight: 500;
}
.content{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	font-family: "OpenSansRegular";
	letter-spacing: -1px;
}
.content_block{
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.content_block .content_img{
	width: 50%;
	text-align: center;
}
.content_block .text{
	width: 50%;
}
.content_block:nth-child(1) .content_img,.content_block:nth-child(2) .text{
	float: left;
}
.content_block:nth-child(1) .text,.content_block:nth-child(2) .content_img{
	float: right;
}
.content_block:nth-child(1) .content_img img{
	width: 90%;
	height: 90%;
}
.content_block:nth-child(2) .content_img img{
	width: 75%;
	height: 75%;
}
.content_block h1{
	font-size: 45px;
	font-family: "OpenSansBold";
	letter-spacing: -1px;
	color: #FFD339;
}
.content_block h2{
	font-size: 18px;
	letter-spacing: -1px;
	color: #757575;
}
.content_block p{
	font-size: 18px;
	letter-spacing: -0.8px;
	line-height: 25px;
	color: #9CA8C4;
	text-align: justify;
}
.slider{
	width: 100%;
}
.products{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #1C1C1C;
	text-align: center;
}
.wrap_products{
	width: 90%;
	margin: 50px auto;
	text-align: center;
}
.block_products{
	position: relative;
	margin: 15px;
	display: inline-block;
	background-color: #fff;
	overflow: hidden;
}
.products h1{
	font-size: 40px;
	color: #fff;
}
.products h2{
	font-size: 20px;
	color: #aaa;
}
.block_products .products_img{
	float: left;
	width: 240px;
	height: 240px;
}
.block_products .products_img img{
	width: 100%;
	height: 100%;
}
.block_products .text{
	float: left;
	max-width: 240px;
	height: 240px;
	background-color: #fff;
	text-align: left;
}
.block_products .text h2{
	margin-top: 30px;
	margin-left: 0;
	font-size: 18px;
	font-weight: 600;
	color: #414141;
}
.block_products .text p{
	height: 80px;
	margin-top: 20px;
	margin-left: 0;
	overflow: hidden;
	font-size: 15px;
	font-weight: 600;
	color: #7F7F7F;
	letter-spacing: -0.8px;
	line-height: 20px;
}
.block_products a{
	position: absolute;
	padding: 1px 1px 1px 4px;
	bottom: 10px;
	right: 10px;
	border: 3px solid #000;
	border-radius: 50%;
	-wedkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	background-color: #fff;
	font: 15px sans-serif;
	color: #000;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.block_products a:hover{
	border: 3px solid #aaa;
	color: #aaa;
}
.bg2 {
	position: absolute;
	width: 100%;
	height: 120%;
	top: 0;
	left: 0;
	background: url(../img/page_pas.jpg) no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	z-index: -1;
}
.advance{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.advance h1{
	font-size: 50px;
	font-family: "OpenSansRegular";
	color: #fff;
}
.advance > h2{
	font-size: 20px;
	font-weight: 500;
	color: #DBFF62;
	
	-webkit-transform: scale(0.85, 1.5);
	-moz-transform: scale(0.85, 1.5);
	-ms-transform: scale(0.85, 1.5);
	-o-transform: scale(0.85, 1.5);
	transform: scale(0.85,1.5);
}
.wrap_advance{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.block_advance{
	width: 30%;
	padding-top: 80px;
	padding-bottom: 60px;
	text-align: left;
}
.advance .wrap_advance h2{
	font-family: "OpenSansRegular";
	color: #fff;
}
.block_advance p{
	font-size: 12px;
	line-height: 20px;
	color: #fff;
}
.subscribe{
	width: 100%;
	height: 300px;
	padding-top: 50px;
	overflow: hidden;
	background: url(../img/page_img.jpg) no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	text-align: center;
}
.subscribe h1{
	font-size: 40px;
	font-family: "OpenSansRegular";
	color: #fff;
}
.subscribe h2{
	font-size: 18px;
	font-family: "OpenSansRegular";
	color: #fff;
}
.input_text{
	width: 80%;
	margin: 60px auto;
}
.first_name{
	float: left;
	width: 47%;
	height: 50px;
	background: rgba(255, 255, 255, 0);
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 20px;
}
.mail{
	float: right;
	width: 47%;
	height: 50px;
	background: rgba(255, 255, 255, 0);
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 20px;
}
.input_text > input:focus::-webkit-input-placeholder{
	color: transparent;
}
.input_text > input:focus::-moz-placeholder{
	color: transparent;
}
.input_text > input:focus:-moz-placeholder{
	color: transparent;
}
.input_text > input:focus:-ms-input-placeholder{
	color: transparent;
}
.footer{
	width: 100%;
	padding-top: 20px;
	background-color: #20282E;
	font: 12px sans-serif;
	color: #fff;
}
.wrap_foot{
	width: 85%;
	margin: 0 auto;
	font: 12px sans-serif;
	color: #fff;
}
.top_footer{
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.tab:nth-child(1),.tab:nth-child(2),.tab:nth-child(3){
	width: 33%;
	background-color: #20282E;
}
.adress li{
	clear: both;
	padding: 4px;
}
.adress,.add{
	padding-top: 5px;
}
.adress li .images{
	float: left;
	width: 20px;
	height: 20px;
}
.adress > li:nth-child(1) > .images img{
	width: 13px;
	height: 18px;
	margin-top: 1px;
	margin-left: 3px;
}
.adress > li:nth-child(2) > .images img{
	width: 17px;
	height: 17px;
	margin-top: 2px;
	margin-left: 2px;
}
.adress > li:nth-child(3) > .images img{
	width: 18px;
	height: 13px;
	margin-top: 4px;
	margin-left: 1px;
}
.adress > li:nth-child(4) > .images img{
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 2px;
}
.adress li p{
	float: left;
	width: 70%;
	margin-left: 20px;
	line-height: 21px;
	word-wrap: break-word;
}
.delivery li{
	padding: 10px;
}
.imag{
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #fff;
}
.imag img{
	position: absolute;
}
.delivery > li:nth-child(1) > .imag img{
	width: 30px;
	height: 20px;
	top: 20px;
	left: 16px;
}
.delivery > li:nth-child(2) > .imag img{
	width: 20px;
	height: 25px;
	top: 17px;
	left: 20px;
}
.delivery > li:nth-child(3) > .imag img{
	width: 25px;
	height: 18px;
	top: 21px;
	left: 17px;
}
.deliv_text{
	float: left;
	width: 70%;
	margin-left: 10px;
}
.deliv_text h3{
	margin: 0;
	padding: 0;
	font-size: 18px;
	word-wrap: break-word;
}
.deliv_text p{
	padding-top: 10px;
}
.add li{
	padding: 5px;
}
.tab h5{
	margin: 0;
	padding: 0;
	font-size: 15px;
}
.add a{
	color: #FFA500;
	text-decoration: none;
}
.add a:hover{
	color: #aaa;
}
.center_footer{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #aaa;
}
.info{
	width: 25%;
}
.info ul li{
	padding: 10px;
	font-weight: 600;
}
.info ul li a{
	color:#FFA500;
	text-decoration:none;
	font-weight: 500;
}
.info ul li a:hover{
	color: #aaa;
}
.bottom_footer{
	background-color: #1A2025;
}
.bottom_footer p{
	padding: 20px 100px 20px;
}


/*responsive*/
@media (max-width: 1024px){
.content,.content_block{
	padding-top: 10px;
	padding-bottom: 10px;
}
.content_block h1{
	margin: 0;
	padding: 0;	
	font-size: 30px;
}
.content_block h2{
	font-size: 18px;
}
.content_block p{
	font-size: 17px;
	line-height: 18px;
}
.imag{
	width:40px;
	height: 40px;
}
.delivery > li:nth-child(1) > .imag img{
	top: 10px;
	left: 6px;
}
.delivery > li:nth-child(2) > .imag img{
	top: 6px;
	left: 10px;
}
.delivery > li:nth-child(3) > .imag img{
	top: 11px;
	left: 8px;
}
}

@media (max-width: 800px){
.slider,.cart{
	display: none;
}
.bg2 {
	height: 140%;
}
.header{
	padding-bottom: 0;
}
.header h1{
	font-size: 60px;
	font-weight: 600;
}
.header h2{
	font-size: 26px;
}
.header h3{
	margin-top: 20px;
	font-size: 24px;
}
.header h4{
	width: 80%;
	margin: 0 auto;
	font-size: 18px;
}
.content{
	padding-top: 10px;
	padding-bottom: 10px;
}
.content_block{
	padding-top: 10px;
	padding-bottom: 10px;
}
.content_block h1{
	margin: 0;
	padding: 0;
	font-size: 28px;
}
.content_block h2{
	font-size: 15px;
}
.content_block p{
	font-size: 15px;
	line-height: 18px;
}
.products{
	padding-top: 10px;
	padding-bottom: 10px;
}
.products h1{
	font-size: 35px;
}
.products h2{
	font-size: 16px;
}
.block_products{
	margin: 5px;
}
.wrap_products{
	margin: 15px auto;
}
.advance{
	padding-top: 0;
	padding-bottom: 20px;
}
.wrap_advance{
	display: block;
}
.block_advance{
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.advance h1{
	font-size: 35px;
	font-weight: 600;
	font-family: sans-serif;
}
.subscribe{
	padding-top: 10px;
}
.info{
	width: 100%;
}
.info:nth-child(1),.info:nth-child(2),.info:nth-child(3),.info:nth-child(4){
	float: left;
	width: 50%;
	height: 300px;
}
.center_footer{
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}
.top_footer{
	width: 80%;
	margin: 0 auto;
	display: block;
}
.tab{
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tab:nth-child(1),.tab:nth-child(2),.tab:nth-child(3){
	width: 100%;
}
}

@media (max-width: 790px){
.content_block:nth-child(2) .text,.content_block:nth-child(1) .text{
	width: 75%;
	height: 170px;
	overflow: hidden;
}
.content_block:nth-child(2) .content_img,.content_block:nth-child(1) .content_img{
	width: 25%;
	margin-top: 45px;
}
.block_products .products_img,.block_products .text{
	float: none;
}
.block_products a{
	display: none;
}
.subscribe{
	padding-top: 10px;
	background: url();
	background-color: #505050;
}
.subscribe h1{
	font-size: 35px;
	font-weight: 600;
	font-family: sans-serif;
}
.input_text{
	margin: 20px auto;
}
.first_name,.mail{
	float: none;
	width: 80%;
}
.center_footer{
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.info{
	width: 100%;
}
.info:nth-child(1),.info:nth-child(2),.info:nth-child(3),.info:nth-child(4){
	float: left;
	width: 50%;
	height: 300px;
}
.deliv_text{
	width: 70%;
}
.info:nth-child(1),.info:nth-child(2),.info:nth-child(3),.info:nth-child(4){
	float: none;
	width: 100%;
	height: auto;
}
.bottom_footer{
	text-align: center;
}
}

@media (max-width: 700px){
.bg,.bg2{
	background: url();
	background-color: #707070;
}
.wrp{
	background-color: #707070;
}
.header{
	padding-bottom: 0;
}
.logo{
	width: 100%;
	height: 100px;
}
.header h1{
	font-size: 50px;
}
.header h2{
	font-size: 26px;
}
.header h3{
	margin-top: 20px;
	font-size: 24px;
}
.header h4{
	width: 80%;
	margin: 0 auto;
	font-size: 18px;
}
.slider,.content_block .content_img,.block_products .products_img,.block_products a{
	display: none;
}
.content{
	padding-top: 15px;
	padding-bottom: 0;
	font-family: sans-serif;
}
.content_block{
	padding-top: 0;
	padding-bottom: 15px;
}
.content_block:nth-child(1) .text,.content_block:nth-child(2) .text{
	float: none;
	width: 100%;
}
.content_block h1{
	font-size: 35px;
	font-family: sans-serif;
}
.content_block h2{
	font-size: 18px;
}
.content_block p{
	font-size: 17px;
	line-height: 20px;
}
.products{
	padding-top: 10px;
	padding-bottom: 10px;
}
.wrap_products{
	margin: 15px auto;
}
.products h1{
	font-size: 30px;
}
.products h2{
	font-size: 15px;
}
.block_products{
	margin: 5px;
}
.block_products .text{
	float: none;
	width: 80%;
	height: 120px;
}
.block_products .text h2{
	margin-top: 20px;
}
.advance{
	padding-top: 0;
	padding-bottom: 20px;
}
.wrap_advance{
	display: block;
}
.advance h1{
	font-size: 40px;
	font-family: sans-serif;
}
.advance > h2{
	font-size: 18px;
}
.block_advance{
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.subscribe{
	height: 250px;
	padding-top: 10px;
	background: url();
	background-color: #505050;
}
.input_text{
	margin: 20px auto;
}
.subscribe h1{
	font-size: 35px;
	font-family: sans-serif;
}
.subscribe h2{
	font-family: sans-serif;
}
}