.order{
	width: 100%;
	padding: 50px 0 50px 0;
	background: url('../img/banner_withcontact.png');
	background-size: cover;
	background-position: center center;
	position: relative;
	
	.fon-dark{
		width: 100%;
		position: absolute;
		top: 0;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}
	
	.title{
		width: 60%;
		margin: 0 auto;
		padding: 20px 0 20px 0;
		text-align: center;
		z-index: 999;
		position: relative;
		
		h1,h2,h3{
			text-transform: uppercase;
			line-height: 130%;
			color: #fff;
		}
		h1{
			font-size: 60px;
			
			@include respond-to(tablets){
				font-size: 50px;
			}
			@include respond-to(small-tablets){
				font-size: 40px;
			}
			@include respond-to(wide-handhelds){
				font-size: 30px;
			}
			@include respond-to(handhelds){
				font-size: 30px;
			}
		}
 			
		@include respond-to(small-tablets){
			width: 80%;
		}
		@include respond-to(wide-handhelds){
			width: 90%;
		}
		@include respond-to(handhelds){
			width: 90%;
		}
	}
	
	.button{
		padding: 10px 0;
		z-index: 999;
		position: relative;
		
		button{
			padding: 15px 50px;
			border: none;
			width: 200px;
			
			&:hover{
				padding: 15px 50px;
				background-color: #aaa;
				border: none;
			}
			
			@include respond-to(wide-handhelds){
				margin: 5px;
			}
			@include respond-to(handhelds){
				margin: 5px;
			}
		}
		button:first-child{
			background-color: #000;
			
			&:hover{
				background-color: #FF9002;
			}
		}
		button:last-child{
			background-color: #48C5FF;
		}
		
		@include respond-to(handhelds){
			padding: 5px 0 10px 0;
		}
	}

	@include respond-to(tablets){
		padding: 20px 0 50px 0;
	}
	@include respond-to(small-tablets){
		padding: 20px 0 10px 0;
	}
	@include respond-to(wide-handhelds){
		margin: 20px 0;
		padding: 10px 0 20px 0;
	}
	@include respond-to(handhelds){
		margin: 20px 0;
		padding: 0 0 20px 0;
	}
}