.services{
	@include width1000;
	
	ul.card-service{
		@include clearfix;
		font-size: 0;
		padding: 20px 0;
		margin: 0;

		li{
			display: inline-block;
			vertical-align:top;
			padding: 0;
			@include clearfix;
			position: relative;
			
			a{
				background-color: #fff;
				margin: 5px;
				display: block;
				padding: 0;
				color: #aaa;
				text-decoration: none;
				
				img{
					width: 100%;
					margin: 0;
					padding: 0;
				}
				
				.title-card{
					padding: 5px 0 0 0;
					@include clearfix;
					text-align: center;
					
					p{
						font-size: 14px;
						color: #414141;
						display: block;
						width: 100%;

						@include respond-to(handhelds){
							font-size: 13px;
						}
					}
					
					@include respond-to(wide-handhelds){
						min-height: 30px;
					}
					@include respond-to(handhelds){
						padding: 5px;
						min-height: 20px;
					}
				}

				@include respond-to(wide-handhelds){
					margin: 0 0 5px 0;
				}
				@include respond-to(handhelds){
					margin: 0 0 5px 0;
				}
			}
			
			.button-card{
				visibility: hidden;
				text-align: center;
				font-size: 14px;
				padding: 15px 0;
				margin: 0;
				color: #fff;
				background-color: #46A1F0;
				width: 100%;
				border: none;
				
				@include respond-to(wide-handhelds){
					padding: 10px 0;
				}
				@include respond-to(handhelds){
					padding: 10px 0;
				}
			}
			
			@include respond-to(display-middle){
				width:25%;
			}
			@include respond-to(display-big){
				width:25%;
			}
			@include respond-to(display){
				width:25%;
			}
			@include respond-to(tablets){
				width:25%;
			}
			@include respond-to(small-tablets ){
				width:25%;
			}
			@include respond-to(wide-handhelds){
				width:calc(50% - 10px);
				margin: 5px;
			}
			@include respond-to(handhelds){
				width:calc(50% - 10px);
				margin: 5px;
			}
		}
		li:hover {
			box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
		}
		li:hover .button-card{
			visibility: visible;
		}
		li:hover .title-card span{
			display: none;
		}
		li:hover .title-card p{
			width: 100%;
			text-align: center;
		}
	}
}